# AWS configuration
AWS_PROFILE=
AWS_REGION=
AWS_ACCOUNT_ID=

# Project configuration
PROJECT_NAME=nyc-taxi-data-platform
ENVIRONMENT=dev

# S3
S3_BUCKET_NAME=
S3_RAW_PREFIX=raw
S3_CURATED_PREFIX=curated
S3_REJECTED_PREFIX=rejected

# Glue
GLUE_DATABASE_NAME=
GLUE_JOB_NAME=

# Athena
ATHENA_WORKGROUP_NAME=
ATHENA_OUTPUT_LOCATION=